<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Upload form</title>
  </head>
  <body>
    <div th:if="${message}">
      <h2 th:text="${message}"></h2>
    </div>
    <div>
      <form method="post" enctype="multipart/form-data" action="/">
        <table>
          <tr>
            <td>File to upload</td>
          </tr>
          <input type="file" name="file" />
          <tr>
            <td></td>
            <td><input type="submit" value="Upload" /></td>
          </tr>
        </table>
      </form>
    </div>

    <div>
      <ul>
        <li th:each=" : ${files}">
          <a th:href="@{file}" th:text="${file}"></a>
        </li>
      </ul>
    </div>
  </body>
</html>
